
<!-- {{}} mustache - doppio baffo: INTERPOLAZIONE tra html e ts / PROPERTY BINDING -->

<div class="container mt-3">
    <h1 class="txtBlue">ciao -> {{title}} <- questo è il property binding</h1>
    
    <h2>autore: {{autore}}</h2>
    
    <p> {{studente.cognome}}</p>
    
    <h1 class="txtBlue">{{benvenuto}}</h1>
    
    <!-- EVENT BINDING -->
    <button class="btn btn-primary" (click)="onStampaBenvenuto()"> cliccami su</button>
    
    
    <app-primo></app-primo>
    
    
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, quia quis. Ducimus et accusamus rerum eos, suscipit voluptatum sit quasi, repellendus ab deserunt tenetur veniam placeat quam esse eaque aut.
    Quisquam velit pariatur dolor quos eum beatae? Inventore, quasi est ab recusandae facere rem odit consequuntur nulla voluptatibus qui, impedit accusantium deserunt assumenda. Odit cupiditate beatae mollitia maiores officia reprehenderit.
    Ad fugiat dolorem cupiditate laudantium praesentium repellendus quas corporis, facere qui minima est fugit aliquid, recusandae voluptatum sapiente! Voluptates, et nam eius provident corporis rem dolorum officiis beatae soluta a?
    Dolore vitae ducimus error voluptates architecto. Assumenda blanditiis aspernatur odit debitis magni dolorem adipisci, non dolore corporis recusandae, possimus odio sed. Reprehenderit aliquid in dolores dolor optio perspiciatis tempora deserunt?</p>
    
    <hr>
    
    <div class="container">
    
        <h2>menu panini</h2>
    
        <app-lista-panini></app-lista-panini>
    
    </div>
</div>