<div class="container mt-5">
  <h2>Lista studenti</h2>
  <ul>
    <li *ngFor="let studente of listaStudenti; index as i">
      {{ studente.nome }} - {{ studente.cognome }} -
      <span *[ngClass]="{txtRed: !studente.presenza , txtGreen: studente.presenza}">
        {{ studente.presenza ? "Presente" : "Assente" }}
    </span>
<br>
      <strong>Corsi</strong>
      <ul *ngIf="studente.corsi!=null; else noCorsi">
        <li *ngFor="let corso of studente.corsi">
            {{corso}}
        </li>
      </ul>
      <button class="btn btn-secondary" (click)="onCambiaPresenza(i)">Cambia Presenza</button>
    </li>
  </ul>
</div>


<!-- #noCorsi si chiama LocalReference -->
<ng-template #noCorsi>
    <br>
    <strong>Lo studente non è iscritto in nessun corso</strong>
</ng-template>