<div class="row row-cols-4">
    
    
    <ul *ngFor="let studente of listaStudenti">
    
    
        <div class="card " style="width: 18rem;">
            <img src="{{studente.immagine}}" class="card-img-top" alt="..." style="height:200px;">
            <div class="card-body">
              <h5 class="card-title">{{studente.nome |uppercase}} {{studente.cognome |uppercase}}</h5>
              <p>Corsi:</p>
              <ul *ngFor="let corso of studente.corsi">
            <li>{{corso}}</li></ul>
            <p class="mt-2">presenza: {{studente.presenza}}</p>
              <a href="#" class="btn btn-primary">Presenta</a>
            </div>
          </div>
    
    </ul>
</div>
